.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  min-height: 150px;
  padding: 20px;
  color: white;
  font-size: large;
  margin-top: 50px;
}

body {
  background-color: #000000;
}

textarea {
  resize: none;
}

.App-intro {
  font-size: large;
}

.chat-window {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color:#D3D3D3;
}

.messages {
  height: 100%;
}

.Message-Box {
  position: relative;
  bottom: 0;
  border: 1px; /*solid black;*/
  min-height: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  min-height: 80px;
}

.btn-color {
  background-color: #107c10;
  color: white;
  border-color: white;
}